name: build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Alire
      uses: alire-project/setup-alire@v4
      with:
        version: 2.1.0
        
    - run: alr build --validation

    - run: cd test & alr exec ./bin/test_msg
